@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Open+Sans:ital,wght@0,500;1,600&family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

h1,
h2 {
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

h3,
p {
    font-family: 'Lato', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* Header starts here */
#site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

#header-logo img {
    display: block;
    width: 75px;
    height: 75px;
}

#header-club-name {
    line-height: 75px;
    white-space: nowrap;
    margin: 0 auto 0 20px;
    letter-spacing: 2px;
}

#header-club-name h2 {
    font-size: 1.75rem;
}

#nav-menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    line-height: 75px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
    font-size: 1.25rem;
    letter-spacing: 2px;
    padding: 10px;
    margin-right: 2rem;
}

#nav-menu a:hover,
#nav-menu a:focus {
    color: #fff;
    background-color: #0B8643;
    border: 1px solid #000;
    border-radius: 5px;
}

.active {
    border-bottom: 1px solid #0B8643;
}

/* Header finish here */


/* Main */

/* Hero section */
#hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/background/athletes-picture.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero-content-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
}

.hero-inner-content h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-style: italic;
    color: #fff;
    font-size: 4rem;
    letter-spacing: 5px;
    white-space: nowrap;
    text-shadow: 5px 5px 3px #000;
}

/* End of hero section */


/* Start of Welcome section */
#welcome {
    padding: 30px;
    background-color: #fff;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-container h1 {
    font-size: 3.625rem;
    padding-bottom: 20px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.597);
}

.welcome-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: rgba(186, 236, 165, 0.5);
    max-width: 60%;
    margin: 0 auto;
    line-height: 1.2;
}

.welcome-box h2 {
    font-size: 2.5rem;
    letter-spacing: 3px;
    padding-bottom: 20px;
}

.welcome-box p {
    margin: 10px auto;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    font-style: oblique;
    font-size: 1.25rem;
    word-spacing: 3px;
}

.welcome-box a {
    font-family: inherit;
    text-decoration: none;
    background-color: rgba(46, 145, 73, 0.523);
    color: #000;
    border-radius: 5px;
    padding: 2px 5px;
    white-space: nowrap;
}

.welcome-box a:hover,
.welcome-box a:focus {
    color: #fff;
    background-color: rgb(8, 138, 43);
}

.underline {
    text-decoration: underline;
    text-decoration-color: red;
}

.disciplines-container {
    width: 80%;
    text-align: center;
    margin: 20px auto;
}

.disciplines-container h2 {
    margin: 20px auto;
    font-size: 2rem;
}

.disciplines-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    padding: 1.5rem;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 15px;
}

.disciplines-content h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px;
    margin: 0 auto;
}

.disciplines-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.disciplines-icons img {
    width: 100px;
    height: auto;
}

.disciplines-icons a {
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
    flex-wrap: wrap;
    padding-top: 10px;
}

/* End of welcome section*/


/* Start of Why-us section */
#why-us {
    display: flex;
    background-image: url("../images/background/why-us-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 30px 0;
}

.why-us-container {
    width: 100%;
    height: fit-content;
    text-align: center;
    color: #fff;
    text-shadow: 4px 4px 9px #000;
    letter-spacing: 2px;
}

.why-us-container h2 {
    font-size: 2.5rem;
    margin-bottom: 25px;
}

.why-us-wrapper {
    display: flex;
    flex-direction: column;
}

.why-us-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 25px 0 0 25px;
    margin: 10px 0;
}

.why-us-content h3 {
    font-size: 2rem;
    padding-left: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 5px #000;
}

.why-us-content img {
    width: 300px;
    height: auto;
    padding-left: 40px;

}

.reason1 {
    margin-left: 40%;
    border: 5px solid #0081C8;
    background-color: rgba(0, 130, 200, 0.50);
    border-right-style: none;
}

.reason2 {
    margin-left: 32.5%;
    border: 5px solid #FCB131;
    background-color: rgba(252, 177, 49, 0.50);
    border-right-style: none;
}

.reason3 {
    margin-left: 25%;
    border: 5px solid #000;
    background-color: rgba(0, 0, 0, 0.50);
    border-right-style: none;
}

.reason4 {
    margin-left: 17.5%;
    border: 5px solid #00A651;
    background-color: rgba(0, 166, 80, 0.50);
    border-right-style: none;
}

.reason5 {
    margin-left: 10%;
    border: 5px solid #EE334E;
    background-color: rgb(238, 51, 78, 0.50);
    border-right-style: none;
}

.why-us-wrapper p {
    color: #fff;
    text-shadow: 2px 2px 10px #000;
    margin: 20px auto;
    letter-spacing: 1px;
    font-size: 1.35rem;
    word-spacing: 5px;
    padding: 10px 20px;
    background-color: rgba(11, 134, 66, 0.8);
    border-radius: 10px;
    border: 1px solid #000;
}

.why-us-wrapper a {
    font-family: inherit;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 5px;
    padding: 2px 5px;
    white-space: nowrap;
}

.why-us-wrapper a:hover,
.why-us-wrapper a:focus {
    color: #000;
    background-color: rgba(255, 255, 255, 0.6);

}

/* End of why us section  */


/* Start of competitions section */
#competitions {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
    background-color: #fff;
}

.competitions-message {
    text-align: center;
    height: fit-content;
}

.competitions-message h2 {
    font-size: 2.5rem;
    letter-spacing: 3px;
}

.competitions-message p {
    width: 70%;
    margin: 20px auto;
    font-size: 1.4em;
    word-spacing: 3px;
}

.competitions-wrapper {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 0.5em;
    padding: 25px;
}

.competitions-box {
    display: grid;
    place-content: center;
    width: 100%;
    height: 400px;
    color: #fff;
    border-radius: 20px;
    white-space: nowrap;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

.competitions-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #000;
    border-radius: 20px;
    padding: 2rem;
}

.competitions-content h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 20px;
    letter-spacing: 4px;
}

.competitions-content li {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    font-size: 1.25rem;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.indoor-image {
    background-image: url('../images/background/indoor-blue-track.jpg');
    background-size: cover;
    background-position: center;
}

.outdoor-image {
    background-image: url('../images/background/outdoor-red-track.jpg');
    background-size: cover;
    background-position: center;
}

.croscountry-image {
    background-image: url('../images/background/crosscountry-image.jpg');
    background-size: cover;
    background-position: bottom;
}

/* End of Competitions section */


/* Start of Training section */
#trainings {
    width: 100%;
    height: fit-content;
    background-image: url('../images/background/training-image-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
}

.trainings-container h2 {
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px #000;
    text-align: center;
    margin: 0 auto;
}

.trainings-box {
    width: 100%;
    height: fit-content;
    display: flex;
    column-gap: 1.2rem;
    padding: 0 20px;
}

.trainings-days {
    width: 33.33%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trainings-days h3 {
    font-size: 1.3rem;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 5px #000;
    letter-spacing: 2px;
    white-space: nowrap;
}

.trainings-days iframe {
    width: 100%;
    border-radius: 20px;
    border: 2px solid #000;
}

/* Ebd of Training section */


/* Start of Footer */
#footer {
    width: 100%;
    height: fit-content;
}

.footer-social-media {
    line-height: 50px;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}

.footer-social-media a {
    color: inherit;
}

.footer-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    width: 33.33%;
    margin: 0 20px;
}

.footer-content p {
    padding: 5px 0;
}

.footer-content a {
    font-family: inherit;
    font-size: 20px;
    color: inherit;
    text-decoration: none;
}

.footer-content a:hover,
.footer-content a:focus {
    color: red;
    padding: 2px 5px;
}

.footer-left,
.footer-right {
    font-size: 1rem;
}

.footer-center img {
    display: block;
    margin: 0 auto;
}

.footer-right {
    text-align: end;
}

.footer-right a {
    font-family: inherit;
    margin-left: 10px;
}

/* End of Footer */


/* Start of about section */
#about {
    width: 100%;
    display: flex;
    background-image: url("../images/background/about-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 25px;
}

.about-wrapper {
    width: 100%;
    height: fit-content;
    text-align: center;
}

.about-wrapper h1 {
    font-size: 3rem;
    margin-bottom: 50px;
    letter-spacing: 3px;
}

.about-content {
    columns: 4 250px;
    margin: auto 30px;
    column-rule: 2px solid #000;
    column-gap: 3rem;
}

.about-content h3 {
    font-size: 1.75rem;
    color: #fff;
    background-color: #333;
    break-inside: avoid;
    padding: 1rem;
}

.about-content p {
    margin: 10px auto;
    font-size: 1.35rem;
    font-weight: 600;
    text-shadow: 1px 1px 3px #ffffff7a;
    line-height: 1.4;
}

.about-content .quote {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    font-weight: bold;
    text-align: center;
    column-span: all;
}

/* End of About section */


/* Start of Gallery */
.gallery {
    text-align: center;
}

.gallery h1 {
    font-size: 3rem;
    margin: 30px;
    letter-spacing: 3px;
}

.gallery p {
    margin: 0 10%;
    text-align: center;
    font-size: 1.35rem;
    padding-bottom: 2rem;
}

.gallery h2 {
    font-size: 1.75rem;
    margin-bottom: 10px;
}

.photos {
    line-height: 1em;
    column-count: 4;
    column-gap: 0.5em;
    padding: 20px 40px;
}

.photos img {
    width: 100%;
}

/* End of photos section  */


/* Start of contact-us section */
#form-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-image: url('../images/background/form-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3% 10%;
}

.contact-form {
    max-width: 480px;
    border: 1px solid #000;
    width: 100%;
    border-radius: 15px;
    padding: 20px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.85);
}

.contact-form h2 {
    margin-top: 0;
    padding-bottom: 10px;
    color: #f2f2f2;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
}

.contact-form a {
    text-decoration: none;
}

.text-input {
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 0;
    padding: 5px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.person-contact-details label {
    font-size: 1.35rem;
}

.contact-by label,
.contact-by input,
.form-reasons label {
    font-size: 1.25rem;
    margin-right: 10px;
}

.contact-by-details {
    margin: 10px 0;
}

.form-reasons {
    padding-bottom: 10px;
}

.form-message label {
    font-size: 1.25rem;
}

.form-message textarea {
    margin-top: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

input {
    font-size: 1rem;
}

textarea {
    font-size: 19px;
    max-width: 100%;
}


.form-reasons #reasons {
    padding: 3px;
}

input[type=submit] {
    color: #fff;
    background-color: rgb(8, 138, 43);
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1rem;
}

input[type=submit]:hover {
    background-color: #fff;
    color: rgb(8, 138, 43);
}

input[type=reset] {
    color: rgb(8, 138, 43);
    background-color: #fff;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1rem;
}

input[type=reset]:hover {
    background-color: rgb(8, 138, 43);
    color: #fff;
}

/* End of form-section */


/* Start of thank you site */
#thank-you {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    background-image: url('../images/background/form-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 2px #000;
    padding: 10% 10% 0;
}

.thank-you-content h2 {
    font-size: 1.5rem;
}

.thank-you-content p {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 25px;
    letter-spacing: 1px;
}

.thank-you-content a {
    color: inherit;
    font-family: inherit;
    background-color: rgb(8, 138, 43);
    border-radius: 5px;
    padding: 2px 10px;
}

.thank-you-content a:hover,
.thank-you-content a:focus {
    background-color: rgba(46, 145, 73, 0.5);
}

/* End of thank you website */


/* Media Queries */

/* Media query for large screens up to 1440px */
@media screen and (max-width: 1440px) {
    #header-club-name {
        margin: 0 auto;
    }

    #header-club-name h2 {
        font-size: 2rem;
    }

    #nav-bar {
        margin: 0 auto;
    }

    .welcome-box {
        padding: 30px;
    }

    .disciplines-containers {
        width: 70%;
    }

    .about-content h3 {
        font-size: 1.5rem;
    }

    .about-content p {
        font-size: 1.25rem;
    }

    .photos {
        column-count: 3;
    }

    #thank-you {
        height: 80vh;
    }
}

/* Media query for large screens up to 1200px - desktop and laptops */
@media screen and (max-width: 1200px) {

    #nav-menu a {
        font-size: 18px;
        margin-right: 20px;
    }

    #hero-content-wrapper {
        width: 50%;
        flex-direction: column;
        padding: 0;
        border-radius: 20px;
    }

    .hero-inner-content h2 {
        font-weight: 500;
        font-size: 3.5rem;
        padding: 10px;
        text-align: center;
        letter-spacing: 5px;
    }

    .welcome-container h1 {
        font-size: 3.25rem;
    }

    .welcome-box h2,
    .why-us-container h2,
    .competitions-message h2,
    .trainings-container h2 {
        font-size: 2.25rem;
    }

    .disciplines-container {
        width: 90%;
    }

    .disciplines-container h2 {
        font-size: 2rem;
    }

    .disciplines-content {
        padding: 1rem;
    }

    .disciplines-icoms h3 {
        font-size: 21px;
        padding-bottom: 10px;
    }

    .why-us-content h3 {
        font-size: 1.75rem;
    }

    .competitions-message h2 {
        font-size: 2.25rem;
    }

    .competitions-message p {
        font-size: 20px;
    }

    .about-content p {
        font-size: 19px;
    }

    .gallery p {
        font-size: 22px;
    }

    .photos {
        padding: 20px;
    }

    .thank-you-content h2 {
        font-size: 1.35rem;
    }

    .thank-you-content p {
        font-size: 1.25rem;
    }
}

/* Media query for screens up to 1024px - laptops*/
@media screen and (max-width: 1024px) {

    #nav-menu {
        display: flex;
        justify-content: space-evenly;
        line-height: 60px;
    }

    #nav-menu a {
        padding: 10px 20px;
        margin: 0 auto;
    }

    .hero-inner-content h2 {
        font-size: 3.25rem;
    }

    .welcome-box {
        max-width: 80%;
    }

    .why-us-content h3 {
        font-size: 1.5rem;
        padding-left: 10px;
    }

    .why-us-content img {
        width: 250px;
        height: auto;
        padding-left: 10px;
    }

    .competitions-content {
        padding: 1.25rem;
    }

    .about-wrapper h1,
    .gallery h1 {
        font-size: 2.5rem;
    }

    .gallery p {
        font-size: 20px;
    }
}

/* Maedia query for devices up to 992px - LANDSCAPE*/
@media screen and (max-width: 992px) {

    .footer-content a {
        font-size: 1rem;
    }

    .footer-left a {
        margin-left: 10px;
    }

    .photos {
        column-count: 2;
    }
}

/* Media query for devices up to sreen size of 768px LANDSCAPE*/
@media screen and (max-width: 768px) {

    #header-club-name h2 {
        font-size: 1.75rem;
    }

    #nav-menu {
        line-height: 50px;
    }

    #hero {
        height: 70vh;
    }

    #hero-content-wrapper {
        width: fit-content;
        padding: 0 20px;
    }

    .hero-inner-content h2 {
        font-size: 3rem;
    }

    .welcome-container h1 {
        font-size: 2.75rem;
        letter-spacing: 3px;
    }

    .welcome-box {
        padding: 20px;

    }

    .welcome-box p {
        letter-spacing: 2px;
    }

    .disciplines-content {
        width: 90%;
        justify-content: space-evenly;
    }

    .why-us-content h3 {
        font-size: 1.5rem;
    }

    .why-us-content img {
        width: 200px;
    }

    .reason1 {
        margin-left: 25%;
    }

    .reason2 {
        margin-left: 20%;
    }

    .reason3 {
        margin-left: 15%;
    }

    .reason4 {
        margin-left: 10%;
    }

    .reason5 {
        margin-left: 5%;
    }

    .competitions-message h2,
    .trainings-container h2 {
        font-size: 2rem;
    }

    .competitions-wrapper {
        width: 90%;
        grid-template-columns: 1fr;
        margin: 0 auto;
        padding: 0;
    }

    .competitions-content {
        padding: 2rem;
    }

    .competitions-content h3 {
        font-size: 1.75rem;
    }

    .competitions-content li {
        font-size: 1.5rem;
    }

    .trainings-container h2 {
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    .trainings-box {
        flex-direction: column;
        row-gap: 2rem;
        padding: 0;
    }

    .trainings-days {
        width: 95%;
        margin: 0 auto;
        padding: 10px 0;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 20px 20px 0 0;
    }

    .trainings-days h3 {
        padding: 5px;
        color: #fff;
        text-align: center;
        text-transform: none;
    }

    .trainings-days iframe {
        height: 250px;
        border-radius: 0;
    }

    .footer-social-media {
        font-size: 1.5rem;
    }

    .about-wrapper h1,
    .gallery h1 {
        font-size: 2rem;
    }

    .about-content .quote {
        font-size: 1.25rem;
    }

    .gallery h2 {
        font-size: 1.5rem;
    }
}

/* Media Query for devices screen up to 576px */
@media screen and (max-width: 576px) {

    #header-logo img {
        width: 60px;
        height: 60px;
    }

    #header-club-name {
        line-height: 60px;
    }

    #header-club-name h2 {
        font-size: 1.4rem;
    }

    #nav-menu a {
        font-size: 18px;
        letter-spacing: 1px;
    }

    .hero-inner-content h2 {
        font-size: 2.75rem;
    }

    .welcome-box {
        max-width: 90%;
    }

    .welcome-box h2 {
        font-size: 2rem;
    }

    .welcome-box p {
        font-size: 1.15rem;
    }

    .disciplines-container h2 {
        font-size: 1.5rem;
    }

    .disciplines-content {
        width: 100%;
        padding: 10px;
    }

    .disciplines-icons h3 {
        font-size: 1.15rem;
        padding: 5px;
    }

    .why-us-container h2 {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .why-us-content {
        border-radius: 0;
    }

    .why-us-content h3 {
        font-family: 'Open Sans', 'Roboto', sans-serif;
        margin: 0 auto;
        font-size: 1.25rem;
        color: #fff;
        text-shadow: 2px 2px 2px #000;
    }

    .small-screens {
        margin-left: 0;
        border-right-style: none;
        border-left-style: none;
    }

    .why-us-wrapper p {
        padding: 5px;
        margin: 10px auto;
    }

    .why-us-wrapper a {
        padding: 2px 5px;
    }

    .competitions-message h2 {
        font-size: 2.25rem;
        letter-spacing: 2px;
    }

    .competitions-message p {
        width: 90%;
        padding: 0 20px;
    }

    .competitions-content h3 {
        font-size: 1.5rem;
        letter-spacing: 2px;
    }

    .competitions-content li {
        font-size: 1.25rem;
    }

    #trainings {
        padding-top: 10px;
    }

    .trainings-container h2 {
        font-size: 2.25rem;
    }

    .footer-wrapper {
        flex-direction: column;
        text-align: center;
        gap: 0;
    }

    .footer-content {
        width: 100%;
        padding-top: 1rem;
    }

    .footer-content p {
        font-size: 1rem;
    }

    .footer-right {
        text-align: center;
        padding-bottom: 10px;
    }

    .gallery {
        margin: 20px auto;
    }

    .gallery h1 {
        padding: 0 20px;
        margin-bottom: 30px;
    }

    .gallery h2 {
        padding: 0 20px;
        margin: 0 20px;
    }

    .gallery p {
        font-size: 18px;
    }

    .photos {
        column-count: 1;
        padding-bottom: 0;
    }

    #form-section {
        padding: 2% 5%;
    }

    #thank-you {
        align-items: center;
        padding: 5%;
    }
}


/* media query for screens up to 480px - small mobiles */
@media screen and (max-width: 480px) {
    #header-logo img {
        width: 50px;
        height: 50px;
    }

    #header-club-name {
        line-height: 50px;
    }

    #header-club-name h2 {
        font-size: 1.3rem;
    }

    #nav-menu {
        line-height: 50px;
    }

    #hero-content-wrapper {
        padding: 10px 20px;
    }

    .hero-inner-content h2 {
        font-size: 2.5rem;
    }

    .welcome-container h1 {
        font-size: 2.75rem;
    }

    .welcome-container i {
        display: none;
    }

    .welcome-box {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
        align-items: center;
    }

    .disciplines-content {
        flex-direction: column;
    }

    .why-us-content h3 {
        font-size: 1.1rem;
    }

    .why-us-content img {
        margin-left: 5px;
    }

    .why-us-wrapper p {
        font-size: 18px;
        padding: 5px;
        margin: 0 10px;
    }

    .why-us-wrapper a {
        padding: 1px 3px;
    }

    .competitions-content {
        padding: 2.5rem;
    }

    .trainings-container h2 {
        font-size: 2rem;
    }

    .trainings-box {
        padding: 0 10px;
    }

    .trainings-days {
        padding: 5px 5% 5% 5%;
        border-radius: 20px;
    }

    .trainings-days h3 {
        font-size: 1.3rem;
    }

    .trainings-days iframe {
        height: 250px;
        border-radius: 20px;
    }

    #about {
        padding: 30px 0;
    }

    .about-wrapper h1 {
        font-size: 2.5rem;
        margin: 0 20px 30px;
        padding: 0 5px;
    }

    .about-content h3 {
        font-size: 1.35rem;
    }

    .gallery {
        margin: 20px auto;
    }

    #form-section {
        padding: 2%;
    }

    .contact-by-details label {
        white-space: nowrap;
    }

    #thank-you {
        padding: 2% 5%;
    }

    .thank-you-content h2 {
        font-size: 1.25rem;
    }

    .thank-you-content p {
        font-size: 18px;
    }
}

@media screen and (max-width: 320px) {
    #header-logo img {
        width: 50px;
        height: auto;
    }

    #headerclub-name h2 {
        font-size: 1rem;
    }

    #nav-menu a {
        font-size: 1rem;
    }

    #hero {
        height: 80vh;
    }

    .hero-inner-content h2 {
        font-size: 2.25rem;
        padding: 0;
    }

    #welcome {
        padding: 30px 0;
    }

    .welcome-box {
        max-width: 100%;
        margin: 0 5px;
        padding: 20px 10px;
    }

    .welcome-box p {
        font-size: 1.15rem;
    }

    .why-us-content h3 {
        font-size: 1rem;
    }

    .why-us-content img {
        width: 150px;
        height: auto;
    }

    .competitions-message p {
        width: 100%;
    }

    .competitions-content {
        padding: 1.5rem;
    }

    .competition-box {
        height: 350px;
    }

    .trainings-days {
        width: 100%;
        padding: 5px 10px 10px 10px;
        margin: 0 auto;
    }

    .trainings-days h3 {
        font-size: 1.25rem;
    }

    .about-wrapper h1 {
        font-size: 2.25rem;
        padding: 10px;
    }

    .about-content p,
    .gallery p {
        font-size: 1.1rem;
    }

    .gallery h1 {
        font-size: 2.25rem;
    }

    .photos {
        padding: 20px 10px 0;
    }

    #form-section {
        padding: 10px;
    }

    .contact-form {
        min-width: 250px;
    }

}