@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Kalam&family=Roboto+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

h1,
h2 {
    font-family: "Azeret Mono", "Roboto Mono", monospace;
}

h3,
p {
    font-family: "Roboto Mono", "Azeret Mono", monospace;
}

/* Header starts here */
#site-header {
    display: flex;
    /* height: 75px; */
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

#logo {
    display: flex;
    justify-content: flex-start;
}

#logo img {
    width: 75px;
    height: auto;
}

#club-name {
    display: flex;
    line-height: 75px;
    white-space: nowrap;
    margin: 0 auto 0 20px;
    letter-spacing: 2px;
}

#club-name h2 {
    font-size: 1.5rem;
}

#nav-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    line-height: 75px;
}

#nav-menu li {
    margin-left: 10px;
}

#nav-menu a {
    text-decoration: none;
    font-size: 20px;
    color: inherit;
    padding: 10px;
    margin-right: 10px;
}

#nav-menu a:hover,
#nav-menu a:focus {
    color: #fff;
    background-color: #0B8643;
    border: 1px solid #000;
    border-radius: 5px;
}

.active {
    border-bottom: 1px solid #0B8643;
}

/* Header finish here */

/* Main */

/* Hero section */

#hero {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/background/athletes-picture.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 3rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.45);
    text-shadow: 5px 5px 10px #000;
}

.content h2 {
    font-family: "Kalam", monospace, sans-serif;
    font-size: 3.75rem;
    letter-spacing: 5px;
}

.center {
    text-align: center;
}

.right {
    text-align: end;
    padding-left: 20px;
}

/* End of hero section */

/* Start of Welcome section */
#welcome {
    padding: 50px;
    background-color: #fff;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome h1 {
    font-size: 3.625rem;
    padding-bottom: 20px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.597);
}

#welcome h2 {
    font-size: 2.5rem;
    letter-spacing: 3px;
}

#welcome-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: rgba(186, 236, 165, 0.5);
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
}

#welcome p {
    margin: 10px auto;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    word-spacing: 3px;
}

#welcome span a {
    text-decoration: none;
    background-color: rgba(11, 134, 67, 0.4);
    color: #000;
    border-radius: 5px;
    padding: 2px 5px;
}

#welcome span a:hover,
#welcome span a:focus {
    color: #fff;
    background-color: rgb(11, 134, 67);
    border: 1px solid #000;
}

.underline {
    text-decoration: underline;
    text-decoration-color: red;
}

/* End of welcome section*/

/* Start of Why-us section */
#why-us {
    width: 100%;
    display: flex;
    background-image: url("../images/background/why-us-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0 30px 30px;
}

.why-us-wrapper {
    width: 100%;
    height: fit-content;
    text-align: center;
    color: #fff;
    text-shadow: 4px 4px 9px #000;
    letter-spacing: 2px;
}

.why-us-wrapper h2 {
    font-size: 2.5rem;
    margin-bottom: 25px;
}

.why-us-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.box-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 25px 0 0 25px;
    margin: 10px 0;
}

.box-wrapper h3 {
    font-size: 26px;
    padding: 0 10px;
    color: #fff;
    text-shadow: 3px 3px 2px #000;
}

.box-wrapper img {
    width: 250px;
    height: auto;
    margin-left: 10px;
}

.reason1 {
    margin-left: 43%;
    border: 8px solid #0081C8;
    background-color: rgba(0, 130, 200, 0.7);
    border-right-style: none;
}

.reason2 {
    margin-left: 36%;
    border: 8px solid #FCB131;
    background-color: rgba(252, 177, 49, 0.7);
    border-right-style: none;
}

.reason3 {
    margin-left: 29%;
    border: 8px solid #000;
    background-color: rgba(0, 0, 0, 0.7);
    border-right-style: none;
}

.reason4 {
    margin-left: 22%;
    border: 8px solid #00A651;
    background-color: rgba(0, 166, 80, 0.7);
    border-right-style: none;
}

.reason5 {
    margin-left: 15%;
    border: 8px solid #EE334E;
    background-color: rgb(238, 51, 78, 0.7);
    border-right-style: none;
}

#why-us p {
    margin: 20px auto;
    letter-spacing: 1px;
    font-size: 1.25rem;
    word-spacing: 3px;
}

#why-us span a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(8, 138, 43);
    border-radius: 5px;
    padding: 2px 5px;
}

#why-us span a:hover,
#why-us span a:focus {
    background-color: rgba(46, 145, 73, 0.523);
    color: #000;
}
/* End of why us section  */

/* Start of Competitions section */
#competitions {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0 50px 0;
    background-color: #fff;
}

.competitions-content {
    text-align: center;
    height: fit-content;
}

.competitions-content h2 {
    font-size: 2.5rem;
    letter-spacing: 3px;
}

.competitions-content p {
    width: 50%;
    margin: 20px auto;
    font-size: 1.25rem;
    word-spacing: 3px;
}

.competitions-wrapper {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 0.5em;
    padding: 25px;
}

.competition-box {
    display: grid;
    place-content: center;
    width: 100%;
    height: 400px;
    color: #fff;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    white-space: nowrap;
    text-align: center;
    margin: 0 auto;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #000;
    border-radius: 20px;
    padding: 22px;
}

.content-wrapper h3 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 20px;
    letter-spacing: 4px;
}

.content-wrapper li {
    list-style-type: none;
    font-size: 1.25rem;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.indoor-image {
    background-image: url('../images/background/indoor-blue-track.jpg');
    background-size: cover;
    background-position: center;
}

.outdoor-image {
    background-image: url('../images/background/outdoor-red-track.jpg');
    background-size: cover;
    background-position: center;
}

.croscountry-image {
    background-image: url('../images/background/crosscountry-image.jpg');
    background-size: cover;
    background-position: bottom;
}
/* End of Competitions section */

/* Start of Training section */
#trainings {
    width: 100%;
    height: fit-content;
    background-image: url('../images/background/training-image-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}

#trainings h2 {
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px #000;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
}

.training-box {
    width: 100%;
    height: auto;
    display: flex;
    column-gap: 1.2rem;
    padding: 0 20px;
}

.training-days {
    width: 33.33%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.training-days h3 {
    font-size: 1.3rem;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px #000;
    letter-spacing: 2px;
    white-space: nowrap;
}

iframe {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #000;
}
/* Ebd of Training section */

/* Start of Footer */
#footer {
    width: 100%;
    height: fit-content;
}

.footer-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.footer-content {
    width: 33.33%;
    margin: 0 20px;
}

.footer-content a {
    color: inherit;
    text-decoration: none;
}

.footer-content a:hover,
.footer-content a:focus {
    /* border: 1px solid #000; */
    /* background-color: #0B8643; */
    color: red;
    padding: 2px 5px;
}

.footer-left {
    font-size: 16px;
}

.footer-left i {
    font-size: 24px;
    margin-left: 10px;
}

.footer-left h3 a {
    text-decoration: none;
    border: none;
}

.footer-center img {
    display: block;
    margin: 0 auto;
}

.footer-right {
    font-size: 1rem;
    text-align: end;
}
/* End of Footer */